/*Start Main Rulez*/
.container{width:1170px; margin:auto}
.clearfix{clear: both}
section
{
  padding: 70px 0;
}
body
{
  font-family: 'Raleway', sans-serif;
}
/*End Main Rulez*/
/*Start Header*/

.header .slider{
  background-image:linear-gradient(rgba(0,122,220,.5),rgba(0,122,220,.5)),url(../img/bgheader.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 89vh;
    }
.header .slider .intro{
  padding-top:200px;
   text-align: center;
   color:#000;
}
.header .slider .intro h3
{
  padding: 5px;
  margin: 5px;
  font-size: 30px;
  font-weight: 700;
  margin-left: -150px;
  color: #fff;
}
.header .slider .intro h2
{
   margin: 0 auto;
   font-size: 40px;
   width:600px;
   color: #fff;
}
.header .slider .intro h2 span
{
  color: #3498db;
  background-color: #fff;
  padding: 0 5px;
}
.header .slider .intro p
{
  color: #dedede;
  font-weight: 500;
  letter-spacing: 6px;
  margin: 0;
}

.header .navbar{
    background-color:#212e3b;
    color: #FFF;
    overflow: hidden;
     }
 .header .navbar h2 span{color:#3498db}
.header .navbar ul{
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right
}
.header .navbar ul li {
    float: left; padding:10px;
}
.header .navbar ul li a{
   color:#FFF;
   text-decoration: none
}
.header .navbar ul li.active a,
.header .navbar ul li a:hover{
   color:#3498db;
}
/*End Header*/
/*Start About Me*/
.about-me{
    background-color: #F2F2F2;
    overflow: hidden
}
.about-me .image{
        width: 40%
}
.about-me .image img{width: 350px;
    height: 460px;}
.about-me .info {
        text-align: left;
    width: 60%
}
.about-me .info h2{
   margin: 25px 0 20px 40px;
   color:#555
 }
.about-me .info h2::after {
  display: block;
  height: 2px;
  width: 70px;
  background-color: #3498db;
  content: "";
  margin-top: 15px;
  margin-bottom: 25px;
}
.about-me .info > p{
   margin: 0 0 10px 40px;
  }
.about-me .info p:last-of-type{
   margin-top: 25px;
}
.about-me .info .hobbies{
    overflow: hidden;}
.about-me .info .hobbies .content {
      width: 50%;
      min-height: 100px;
      overflow: hidden
    }
  .about-me .info h3{
     margin: 25px 0 20px 40px;
     font-size: 16px;
     color:#555
   }
.list
{
  list-style: none;
}
.list li{
  margin-bottom: 25px;
}
.list i{
  margin-right: 5px;
}
.list .icon
{
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}
.list .github{
  background-color: #333;
}
.list .freecode{
  background-color: #006400;
}
.list .codewars{
  background-color: #bb432c;
}
/*End About Me*/
/*Start My Skills*/
.my-skills{
    overflow:hidden
    }
.my-skills .skills,
.my-skills .progress{
    width: 50%;
   }
   .my-skills .skills  h2{
   margin: 25px 0 20px 40px;
   color:#555
   }
.my-skills .skills h2::after {
     display: block;
     height: 2px;
     width: 70px;
     background-color: #3498db;
     content: "";
     margin-top: 15px;
     margin-bottom: 25px;
   }
  .my-skills .skills > p {   margin: 0 0 10px 40px; }
  .my-skills .skills  p:last-of-type{
   margin-top: 0px;
}
.my-skills .skills button{
     margin-top: 20px;
   margin-left: 40px
}
.my-skills .progress .technique{margin-left:50px}
.my-skills .progress .technique h3{
   color: #555
}
.my-skills .progress .technique div{
   background-color:#F2F2F2;
   height:25px;
}
.my-skills .progress .technique div span{
   background-color: #3498db;
      height: 25px;
   display:block;
   line-height: 25px;
   text-align: right;
   color: #FFF;
   font-weight: bold;
}
.edu-block
{
  margin-left: 40px;
  margin-bottom: 30px;
}
.edu-block h4
{
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #686868;
  text-transform: capitalize;
}
.edu-block h5
{
  margin: 5px 0;
  text-transform: capitalize;
}
.edu-block span
{
  padding: 0 5px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 12px;
  display: inline-block;
}
.edu-block p
{
  padding: 0;
  margin: 0;
  margin-right: 40px;
}

/*End My Skills*/


/*start contact me*/
 .contact{
    background-color:#212e3b;
    overflow: hidden;
    padding-bottom: 70px;
    padding-top: 50px
}
.contact h2{ color:#FFF; margin-left:40px; }
.contact h2::after {
  display: block;
  height: 2px;
  width: 70px;
  background-color: #3498db;
  content: "";
  margin-top: 15px;
  margin-bottom: 25px;
}
.contact h3{
  color: #ccc;
  margin-left:40px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;}
.contact h3 strong{
  color: #dedede;
}
.contact .info{
    width: 50%;
    margin-right:5%;
}
/*END contact me*/

/*start footer*/
.footer{
    background-color:#0f1921;
    color:#6A6E71;
    padding: 5px 0;
    text-align: center;
    overflow: hidden;
   }
.footer span{
       padding: 5px;
       font-size: 14px;
       color: #ddd;
       font-family: sans-serif;
       margin: 10px 0;
}
.footer ul{
   list-style: none;
   padding-left: 0;
   margin: 10px 0;
   float: right
}
.footer ul li{
   display:inline-block;
   padding: 5px;
}
.footer ul li a i
{
  color: #ccc;
}
.footer ul li a i:hover
{
  color: #3498db;
}
/*end footer*/

/*Start My Framwork*/
 .my-button{
   background: none;
   border: 3px solid #3498db;
   padding: 10PX 30PX;
   color: #3498db;
   font-weight: bold
  }
  .fl-left{float: left}
  P{line-height: 1.7;color:#888}
/*End*/

/* Start loading */
.loading
{
  background-color: #3498db;
  color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
}

.sk-cube-grid {
  width: 60px;
  height: 60px;
  margin:40vh auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

/* Start Scroll Up Css */
#scroll-up
{
  width: 60px;
  height: 60px;
  font-size: 25px;
  text-align: center;
  position: fixed;
  line-height: 60px;
  right: 15px;
  bottom: 10px;
  border-radius: 50%;
  z-index: 9999;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  display: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#scroll-up:hover
{
  background-color: #313f4f;
}
